body {
    background-color: var(--main--bg-color);
    color: #2e2e2e;
}

.roam-body .roam-app .roam-main .roam-article,
#right-sidebar .rm-sidebar-window,
.rm-article-wrapper .roam-log-container .roam-log-page {
    background-color: white;
    border-radius: 4px;
    padding: 40px 32px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* .rm-article-wrapper .roam-log-container .roam-log-page:first-of-type {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.roam-body .roam-app .roam-sidebar-container {
    background-color: var(--main--bg-color);
}

#right-sidebar {
    background-color: var(--main--bg-color);
}

.rm-page-ref--link,
a {
    color: var(--main-color);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
    background-color: transparent;
    color: var(--main-color);
}